.password-options {
    text-align: left;
    margin: 15px auto;
    width: fit-content;
}

.select-option{
    font-size: 18px;
}
input[type=checkbox]{
    margin-right: 8px;
    transform: scale(1.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container{
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    height: max-content;
}

h1{
    font-size: 30px;
}

.password-length{
    padding: 10px;
}

.password-length>input{
    max-width: 30px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    text-align: center;
}
button:hover{
    border: 3px solid maroon;
}

.result{
    font-size: 18px;
}
.password{
    background-color: rgb(162, 156, 156);
    color: black;
    padding: 15px;
    border-radius: 10px;
    max-width: 300px;
    overflow-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
}
.copy-label{
    font-size: 14px;
    margin: 15px auto 8px auto;
    cursor: pointer;
    position: relative;
    left: -100px;
}
.copy-content{
    margin-top: 10px;
    color: lightcoral;
}

@media (max-width:639px){
    h1{
        font-size: 24px;
    }
    button{
        font-size: 18px;
    }
    .password-length>input{
        font-size: 16px;
    }
    .copy-label{
    left: -90px;
}
}